.navbar{
   background-color:#4F696B;
} 
p{
    color: #073842;
}
h4{
    color: #073842;
}
.back{
    background-color: #0f5361;
}
 footer{
    background-color:#4F696B;
 }
#Services
 {
    color:#9daeaf;
 }